*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
h1{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../5651986.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;

}
ul li a:hover{
    background-color: #fff;
    color: #000;

}
.logo img{
    float: left;
    width: 150px;
    height: auto;

}
.main{
    max-width: 1200px;
    margin: auto;
}
ul li.active a{
    background-color: white;
    color: black;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h2{
    color: white;
    font-size: 70px;

}
.about { 
    width: 100%;
    padding: 100px 0px;
    background-color: black;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h3{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h4{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: olive;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
}
.projects{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../5651986.png);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.box h5{
    text-align: center;
    font-size: 50px;
    color: white;
}
.box h6{
    font-size: 30px;
    color:chartreuse;
}
.box p{
    font-size: 20px;
}
.box h7{
    font-size: 30px;
    color: chartreuse;
}
.box p1{
    font-size: 20px;
}
.box h8{
    font-size: 30px;
    color: chartreuse;
}
.box p2{
    font-size: 20px;
}
.contact{
    background-image: white;
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.contact h9{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
    
}